<div class="container">
    <div class="row">
      <% @my_order.each do |order| %>
      <% instrument = Instrument.find(order.instrument_id) %>
        <div class="col-md-8">
            <div class="people-nearby">
            <div class="card m-3 p-3  ">
              
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <%= link_to image_tag(instrument.image), instruments_path, :class=>"profile-photo-lg"  if instrument.image.attached? %>
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="#" class="profile-link"><%= link_to instrument.title, instrument %></a></h5>
                    <p class="text-muted">Sold by <%= instrument.user.name %></p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    Price :<%= number_to_currency(instrument.price) %>
                  </div>
                </div>
              </div>
            </div>
            </div>
    	</div>
      <% end %>
	</div>
</div>



<div class=" justify-content-center">
<div class="col d-flex justify-content-right" style="width: 18rem;">
<%= paginate @my_order %>
</div>
</div>