<p id="notice"><%= notice %></p>

<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Keep Shopping', instruments_path, class: 'button is-warning' %>
</div>
<hr />
<section class="section">

  <% @my_token.each do |token| %>
  <% instrument = Instrument.find(token.instrument_id) %>
  <% @total = 0 %>

  <div class="columns align-items-center">
  <div class="column is-1">
    1
  </div>
  <div class="column is-2">
    <figure class="is-128x128 image">
      <%= image_tag(instrument.image) %>
    </figure>
  </div>
  <div class="column is-9">
    <strong><%= instrument.title %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= truncate(instrument.description, length: 140) %>
      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= number_to_currency(instrument.price) %></strong> 
      </div>
    </div>
  </div>
</div>

<div class="has-text-right">
  <%= link_to 'Remove Item', token, class: "button is-small mb4" %>
 </div>
<hr>
<% end %>

  <div class="columns">
    <div class="column">
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
    </div>
    <div class="column total has-text-right">
      <h4 class="title is-4">
        <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
      </h4>
    </div>
    <%= link_to 'Buy', payments_path, class: "button is-danger" %>
    
    
  </div>
</section>

<%# <%= link_to 'New Cart', root_path %>
