<div class="container">
    <div class="row">
      <% @instruments.each do |instrument| %>
        <% if instrument.sold_to.nil? %>
        <% else %>
        <div class="col-md-8">
            <div class="card m-4 p-4 ">
            <div class="people-nearby">
              
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <%= link_to image_tag(instrument.image), instruments_path, :class=>"profile-photo-lg"  if instrument.image.attached? %>
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="#" class="profile-link"><%= link_to instrument.title, instrument %></a></h5>
                    <% @sold_to = User.find(instrument.sold_to) %>
                    <p class="text-muted">Sold to <%= @sold_to.name %></p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    Price :<%= number_to_currency(instrument.price) %>
                  </div>
                </div>
              </div>
              </div>
            </div>
    	</div>
        <% end %>
      <% end %>
	</div>
</div>

<div class=" justify-content-center">
<div class="col d-flex justify-content-right" style="width: 18rem;">
<%= paginate @instruments %>
</div>
</div>



